// keyframes

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes transition-down {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes transition-up{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        scale: 1.5;
    }
    100% {
        transform: translateY(0);
        scale: 1;
    }
}

@keyframes slideDownNoScale {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes draw {
    0%{
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes for-wrapper {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// animations

// header

[data-aos="header"] {
    &.aos-animate h1 img {
        animation-name: slideDownNoScale, fade;
        animation-duration: 1190ms, 850ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    &.aos-animate .header__offer{
        animation: fade 170ms 170ms ease forwards;
    }
    &.aos-animate .header__image{
        animation: transition-up 1190ms ease forwards;
    }
    &.aos-animate .nav__item{
        animation: fade 34ms ease forwards;
    }
    @for $i from 1 through 6{
        &.aos-animate .nav__item:nth-child(#{$i}){
            animation-delay: calc(306ms + (34ms * $i));
        }
    }
    &.aos-animate .btn{
        animation: fade 170ms 704ms ease forwards;
    } 
}

[data-aos="slide-down"] {
    &.aos-animate {
        animation: slideDown 1190ms ease forwards;
    }
}

// Switch section

[data-aos="for-wrapper"] {
    opacity: 0;
    &.aos-animate {
        opacity: 1;
    }
}

[data-aos="fade-down"] {
    &.aos-animate {
        animation: transition-down 510ms ease forwards;
    }
}

[data-aos="switch-wrapper"] {
    &.aos-animate .switch__text::before {
        animation: draw 680ms ease forwards;
    }
    &.aos-animate .switch__text{
        animation: fade 408ms 68ms ease forwards;
    }
    &.aos-animate .switch__text:after{
        animation: draw 680ms 170ms ease forwards;
    }
    &.aos-animate .switch__item{
        animation: fade 68ms ease forwards;
    }
    @for $i from 1 through 9{
        &.aos-animate .switch__item:nth-child(#{$i}){
            animation-delay: calc(170ms + (68ms * ($i - 1)));
        }
    }
    &.aos-animate .switch__list::after{
        animation: draw 680ms 340ms ease forwards;
    }
}

// acoustic section

[data-aos="acoustic-title"] {
    &.aos-animate .acoustic__h2{
        animation: transition-down 510ms ease forwards;
    }
    &.aos-animate.acoustic__title::after{
        animation: draw 680ms 170ms ease forwards;
    }
    &.aos-animate .acoustic__text{
        animation: fade 170ms 680ms ease forwards;
    }
}

[data-aos="acoustic-main"]{
    &.aos-animate img{
        animation: slideDown 1020ms ease forwards;
    }
    &.aos-animate .acoustic__img{
        animation: fade 1ms ease forwards;
    }
    &.aos-animate .acoustic__h3{
        animation: fade 340ms 340ms ease forwards;
    }
    &.aos-animate .acoustic__text{
        animation: fade 340ms 510ms ease forwards;
    }
}

[data-aos="acoustic-features"]{
    &.aos-animate .features__item:nth-child(1){
        animation: fade 102ms ease forwards;
    }
    &.aos-animate .features__item:nth-child(2){
        animation: fade 102ms 34ms ease forwards;
    }
    &.aos-animate .features__item:nth-child(3){
        animation: fade 102ms 68ms ease forwards;
    }
    &.aos-animate .features__item:nth-child(4){
        animation: fade 102ms 102ms ease forwards;
    }
    &.aos-animate .features__item:nth-child(5){
        animation: fade 102ms 136ms ease forwards;
    }
}

// keycaps section

[data-aos="keycaps-title"]{
    &.aos-animate{
        animation: transition-down 510ms ease forwards;
    }
    &.aos-animate.keycaps__h2::after{
        animation: draw 680ms 170ms ease forwards;
    }
}

[data-aos="keycaps-texts"]{
    &.aos-animate .keycaps__h3{
        animation: fade 340ms ease forwards;
    }
    &.aos-animate .technology__paragraph{
        animation: fade 340ms ease forwards;
    }
    &.aos-animate .technology__wrapper{
        animation: fade 1ms 170ms ease forwards;
    }
    &.aos-animate .technology__item{
        animation: slideDownNoScale 340ms 170ms ease forwards;
    }
}


[data-aos="keycaps-images"]{
    &.aos-animate img{
        animation: slideDownNoScale 1020ms ease forwards;
    }
    &.aos-animate .card{
        animation: fade 1ms ease forwards;
    }
    &.aos-animate .card__naming{
        animation: fade 170ms 850ms ease forwards;
    }
}

// hot-swap section

[data-aos="hot-swap"]{
    &.aos-animate .hot-swap__h2{
        animation: transition-down 510ms ease forwards;
    }
    &.aos-animate .hot-swap__image{
        opacity: 1;
    }
    &.aos-animate .hot-swap__image img{
        animation: slideDownNoScale 1122ms ease forwards;
    }
    &.aos-animate .hot-swap__paragraph{
        animation: fade 340ms 170ms ease forwards;
    }
    &.aos-animate .hot-swap__img img{
        animation: slideDownNoScale 1020ms 680ms ease forwards;
    }
    &.aos-animate .hot-swap__img{
        animation: for-wrapper 1ms 680ms ease forwards;
    }
    &.aos-animate .hot-swap__img p{
        animation: fade 340ms 850ms ease forwards;
    }
}

// themes section

[data-aos="themes"]{
    &.aos-animate .themes__h2{
        animation: transition-up 510ms ease forwards;
    }
    &.aos-animate .themes__img{
        animation: fade 340ms 476ms ease forwards;
    }
}

// techniacal section

[data-aos="technical"]{
    &.aos-animate .specification__h2 span:first-child{
        animation: transition-up 510ms ease forwards;
    }
    &.aos-animate .specification__h2 span:last-child{
        animation: transition-up 510ms 102ms ease forwards;
    }
    &.aos-animate .technical__option:first-child{   
        animation: fade 340ms ease forwards;
    }
    &.aos-animate .technical__option:last-child{   
        animation: fade 340ms 680ms ease forwards;
    }
    &.aos-animate .technical__item::after{
        animation: draw 1020ms ease forwards;
    }
    @for $i from 1 through 10{
        &.aos-animate .technical__item:nth-child(#{$i}) .technical__option:first-child{
            animation-delay: calc(102ms * $i);
        }
    }
    @for $i from 1 through 10{
        &.aos-animate .technical__item:nth-child(#{$i}) .technical__option:last-child{
            animation-delay: calc(680ms + (102ms * $i));
        }
    }
    @for $i from 1 through 10{
        &.aos-animate .technical__item:nth-child(#{$i})::after{
            animation-delay: calc(102ms * $i);
        }
    }
}

// footer

[data-aos="footer"]{
    &.aos-animate h3{
        animation: transition-up 340ms ease forwards;
    }
    &.aos-animate .nav__item{
        animation: fade 340ms ease forwards;
    }
    @for $i from 1 through 6{
        &.aos-animate .nav__item:nth-child(#{$i}){
            animation-delay: calc(170ms + (102ms * ($i - 1)));
        }
    }
    &.aos-animate .btn_white{
        animation: fade 340ms 884ms ease forwards;
    }
    &.aos-animate .footer__contacts::before{
        animation: draw 1020ms ease forwards;
    }
    &.aos-animate .footer__contacts::after{
        animation: draw 1020ms ease forwards;
    }
    &.aos-animate .footer__paragraph{
        animation: fade 340ms ease forwards;
    }
    @for $i from 1 through 6{
        &.aos-animate .footer__paragraph:nth-child(#{$i}){
            animation-delay: calc(170ms + (340ms * ($i - 1)));
        }
    }
    &.aos-animate .links__item a{
        animation: fade 340ms ease forwards;
    }
    &.aos-animate .creators__name{
        animation: fade 340ms 850ms ease forwards;
    }
}