// fonts
@font-face {
    font-family: 'HaasGroteskMedium';
    src: url(/fonts/NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: 'HaasGroteskRoman';
    src: url(/fonts/NeueHaasDisplayRoman.ttf);
}
@font-face {
    font-family: 'Konexy';
    src: url(/fonts/KonexyPersonalUse.otf);
}

// colors
$blue: #004476;
$grey: #777777;

// Typography
%h2{
    font-family: 'HaasGroteskRoman';
    font-size: 100px;
    line-height: 1.1em;
    text-transform: uppercase;
    font-weight: 500;
}
%h3{
    font-family: 'HaasGroteskRoman';
    font-size: 50px;
    line-height: 1.1em;
    letter-spacing: 0.03em;
}
%text{
    font-family: 'HaasGroteskRoman';
    font-size: 16px;
    line-height: 1.4em;
}
%text_upper{
    font-family: 'HaasGroteskRoman';
    font-size: 15px;
    text-transform: uppercase;
}
%menu{
    font-family: 'HaasGroteskMedium';
    font-size: 15px;
    text-transform: uppercase;
}
%footer{
    font-family: 'HaasGroteskRoman';
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 500;
    color: grey;
}

// Spesifications

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    object-fit: cover;
    max-width: 100%;
}

a{
    color: #000;
    text-decoration: none;
}

ul{
    list-style: none;
}

line{
    stroke-dashoffset: 100%;
    animation: filling 20s ease forwards;
}

.container{
    max-width: 1840px;
    padding-inline: 20px;
    margin: 0 auto;
}

div:has( .h2){
    overflow: hidden;
}

.btn{
    opacity: 0;
    display: block;
    padding: 17px 0;
    text-align: center;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    width: min(15% , 263px);
    cursor: pointer;
}

.btn_white{
    background: #fff ;
    color: #000;
}

// header

.header{
    padding: 40px 0 85px;
    &__offer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px 0 100px;
        opacity: 0;
    }
    &__item{
        @extend %text_upper;
        color: #545454;
        &_start{
            text-align: start;
            max-width: 280px;
        }
        &_end{
            text-align: end;
            max-width: 280px;
        }
    }
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    &__list{
        display: flex;
        justify-content: space-between;
        width: 76%;
    }
    &__item {
        opacity: 0;
    }
    &__item a{
        @extend %menu;
    }
}

// Switch

.switch{
    padding: 85px 0 180px;
    &__text{
        @extend %text;
        font-size: 25px;
        padding: 17.5px 0;
        position: relative;
        margin-bottom: 20px;
        opacity: 0;
    }
    &__text::before{
        content: '';
        border-top: 2px solid #000;
        width: 0;
        position: absolute;
        top: 0;
    }
    &__text::after{
        content: '';
        border-top: 1px solid #000;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__img{
        margin: 20px 0 30px;
        overflow: hidden;
        display: hidden;
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-bottom: 18.5px;
    }
    &__list::after{
        content: '';
        border-top: 1px solid $grey;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__item{
        @extend %text;
        color: $grey;   
        font-size: clamp(12px, 1vw, 16px);
        opacity: 0;
    }
    &__h2{
        opacity: 0;
    }
}

h2{
    @extend %h2;
}

// acoustic

.acoustic{
    padding: 100px 0;
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 30px;
        margin-bottom: 50px;
        position: relative;
        overflow: hidden;
    }
    &__title::after{
        content: '';
        border-bottom: 1px solid $grey;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__text{
        @extend %text;
        opacity: 0;
    }
    &__h3{
        margin-bottom: 20px;
        opacity: 0;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__h2{
        opacity: 0;
    }
    &__img{
        opacity: 0;
        overflow: hidden;
        display: hidden;
    }
}

.features{
    margin-top: 376px;
}


.features__item{
    @extend %text_upper;
    padding-bottom: 10px;
    border-bottom: 1px dashed #000;
    max-width: 250px;
    margin-top: 10px;
    opacity: 0;
}

.features__item:last-child{
    padding-bottom: 0;
    border-bottom: none;
}

h3{
    @extend %h3;
}

.text{
    @extend %text;
    max-width: 390px;
}

// Keycaps

.keycaps{
    padding: 170px 0 85px;
    &__h2{
        padding-bottom: 30px;
        margin-bottom: 60px;
        opacity: 0;
    }
    &__h2::after{
        content: '';
        border-bottom: 1px solid $grey;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__h3{
        max-width: 900px;
        opacity: 0;
    }
    &__texts{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    &__images{
        display: flex;
        gap: 20px;

    }
}

.technology{
    &__paragraph{
        @extend %text;
        max-width: 507px;
        margin-bottom: 20px;
        opacity: 0;
    }
    &__remark{
        display: flex;
        gap: 20px;
    }
    &__item{
        @extend %text_upper;
        color: white;
        padding: 5px 10px;
        background: #000;
        border-radius: 4px;
        width: fit-content;
    }
    &__wrapper{
        opacity: 0;
        overflow: hidden;
        display: hidden;
    }
}

.card{
    width: fit-content;
    opacity: 0;
    overflow: hidden;
    display: hidden;
    &__naming{
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
    }
    &__description{
        @extend %text_upper;
    }
    &__name{
        @extend %text;
    }
}

// Hot-switch

.hot-swap{
    padding: 85px 0 170px;
    &__paragraph{
        @extend %text;
        max-width: 480px;
        margin-top: 10px;
        opacity: 0;
    }
    &__container{
        display: flex;
        overflow: hidden;
    }
    &__texts{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__img{
        display: flex;
        gap: 10px;
        overflow: hidden;
        opacity: 0;
    }
    &__remark{
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        text-align: right;
        @extend %text;
        opacity: 0;
    }
    &__h2{
        opacity: 0;
        max-width: 950px;
    }
    &__image{
        opacity: 0;
    }
}

// Themes

.themes{
    padding: 100px 0;
    background: #001C30;
    color: #fff;
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 70px;
    }
    &__img{
        display: flex;
        gap: 20px;
        opacity: 0;
    }
    &__image{
        cursor: pointer;
    }
    &__h2{
        opacity: 0;
    }
}

// specification section

.specification{
    padding: 170px 0;
    &__h2{
        max-width: 797px;
        height: fit-content;
        overflow: hidden;
    }
    &__h2 span{
        display: block;
        opacity: 0;
    }
    &__container{
        display: flex;
        justify-content: space-between;
    }
}

.technical{
    max-width: 49%;
    width: 100%;
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
        align-items: center;
        position: relative;
    }
    &__item::after{
        content: '';
        border-bottom: 1px solid $grey;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__option{
        @extend %text_upper;
        opacity: 0;
    }
}

// footer

.footer{
   padding: 50px 0;
   color: #fff; 
   background: #000;
   a {
        color: #fff;
   }
   &__h3{
        margin-bottom: 150px;
        overflow: hidden
   }
   &__h3 h3{
        opacity: 0;
   }
   &__paragraph{
    @extend %text_upper;
    opacity: 0;
    & span{
        color: $grey;
    }
    &_middle{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
   }
   &__contacts{
        display: flex;
        @extend %text_upper;
        align-items: center;
        padding: 25px 0;
        margin-bottom: 70px;
        position: relative;
        justify-content: space-between;
   }
   &__contacts::before{
        content: '';
        border-top: 1px dashed $grey;
        width: 0;
        position: absolute;
        top: 0;
   }
   &__contacts::after{
    content: '';
        border-bottom: 1px dashed $grey;
        width: 0;
        position: absolute;
        bottom: 0;
        left: 0;
   }
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__privacy{
        display: flex;
        gap: 60px;
    }
    &__item a{
        @extend %footer;
        color: rgb(119, 119, 119);
        opacity: 0;
    }
}

.creators{
    display: flex;
    gap: 30px;
    &__name{
        @extend %text_upper;
        opacity: 0;
        & span{
            color: $grey;
        }
    }
}

.swiper {
    max-width:100%;
    height: auto;
}

.swiper-wrapper{
    align-items: flex-end;
}


.swiper-slide__text{
    @extend %text_upper;
    color: #fff;
    border: 1px dashed #fff;
    padding: 5px 10px;
    margin: 20px 0 0 130px;
    width: fit-content;
}

// anomations
@import 'animations.scss';

// media
@import 'media.scss';
